.bg-dark {
  color: #fff;
  z-index: 1;
  background-color: white;
  position: relative;
}

a {
  color: #cccccc;
  text-decoration: none;
}

a:hover {
  color: #eee;
  text-decoration: underline;
}

.fa-github, a, a:hover {
  color: #fff;
}

.getback {
  background-color: #fff;
  height: 50px;
  left: 0px;
  margin: 0 auto;
  opacity: 1;
  padding: 12px;
  position: fixed;
  top: 0px;
  border-bottom: 1px solid #eee;
  width: 100%;
  z-index: 999;
}

.getback, a:hover {
  color: #666;
  text-decoration: none;
}

.getback, a {
  color: #ccc;
}

.welcome {
  color: #fff;
  left: 50%;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(-50%,-50%);
}

.aboutMe {
  background-color: #cf6a87;
  border-top: 0;
  color: #fff;
  padding: 150px 50px;
}

.singleProject {
  text-align: center;
}

.otherProjects {
  color: #fff;
  left: 50%;
  overflow: hidden;
  padding: 20px;
  position: relative;
  top: 50%;
  transform: translate(-50%,-50%);
}

@media (min-width: 768px) {
  .height-full {
    height: 100vh;
  }

  .otherProjects {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
}

@media (max-width: 767.98px) {
  .height-full {
    height: 100%;
  }

  .otherProjects {
    overflow: hidden;
    padding: 20px;
    position: relative;
  }
}

.my-other-projects {
  margin-top: 45px;
  text-align: center;
}

.left-col {
  //background-image: images/#{project[:coverimage-dark.png);
  background-attachment: fixed;
  background-color: #3c3e4e;
  background-position: top center;
  background-repeat: no-repeat;
}

hr {
  background-color: #fff;
  height: 1px;
  border: 0;
}

.card-body {
  background-color: #3c3e4e;
  color: #fff;
  display: block;
  height: 225px;
  text-align: center;
  width: 343px;
}

.description {
  color: #fff;
  padding: 50px;
  z-index: 800;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .card-body {
    width: 506px;
  }
  .description {
    padding: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-body {
    width: 210px;
  }
  .description {
    padding: 100px 100px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-body {
    width: 290px;
  }
  .description {
    padding: 100px 150px;
  }
}
@media (min-width: 1200px) {
  .card-body {
    width: 350px;
  }
  .description {
    padding: 150px 350px;
  }
}

.right {
  background-color: #3c3e4e;
}

.middle {
  text-align: center;
  margin-top: 0;
  background-color: #fff;
  //border-top: 1px solid #eee;
  z-index: 2;
  position: relative;
}

.footer {
  color: #fff;
  bottom: 0;
  background-color: #667582;
  border-top: 1px solid #ccc;
  height: 250px;
  padding-top: 100px;
  text-align: center;
  margin-top: -50px;
}

.other-projects {
  height: 100% auto;
}

.panel .front {
  height: inherit;
  position: relative;
  top: 0;
  z-index: 900;
  text-align: center;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.panel .back {
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 950;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.panel.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.panel.flip .back {
  z-index: 950;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}

// .d-flex .align-items-center .btn-outline-light {
//   display: block;
// }
