.come-at-me
  %h1 @ me
  %h6 Like what you see?
  %hr
  %h5
    %a{:href => 'https://github.com/davidboll', :target => '_blank'}>See all my project on GitHub
  %h5
    %a{:href => 'https://www.facebook.com/boll.david', :target => '_blank'}>Stalk me on facebook
  %hr
  %h6 .. or just hire me - I need the cash to feed my friend @holgertidemand!!!
