.container.my-other-projects
  %h3 Some of my other projects
  %br
  .row
    - data.projects.each do |project|
      .col-md-4
        .card.mb-4.box-shadow
          %img.card-img-top{:alt => "Thumbnail [100%x225]", "data-holder-rendered" => "true", "data-src" => "holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail", :src => "/images/#{project[:coverimage]}.png", :style => "height: 225px; width: 100%; display: block;"}/
          .card-body
            %h5.mt-0.mb-1= project[:name]
            %p.card-text= project[:short_description]
            .d-flex.justify-content-between.align-items-center
              .btn-group
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
              %small.text-muted= project[:date]
