.container-fluid
  .row
    .col{style: "background-image: url(images/david-cover-dark.png); background-attachment: fixed; background-position: top center; background-repeat: no-repeat; height: 100vh;"}
      .cols.welcome
        %h1
          %span{style: "text-decoration: line-through;"}My portfolio
          ( A [WIP] )
        %br
        %h5 So, this is my portfolio.. I'm David by the way.. scroll down
.container-fluid.middle
  .row
    .col.aboutMe

      %h1 Welcome!
      %br
      %h4 So.. who's this David that you have been hearing so much about?
      %br
      %p Well, David is an amazing person, he's a cat-person.. <br>I mean like what more do you need to know?
