.container-fluid
  %h1 Welcome to my portfolio..

  .projects
    %h2 My projects
    - data.projects.each do |project|
      %img(src="/images/#{project[:coverimage]}")
      %h4= project[:name]
      %p= project[:description]
