
-# .container-fluid
-#   .projects
-#     %h2 All my projects
-#     %ul.list-unstyled
-#     - data.projects.each do |project|
-#       %li.media
-#         %img.mr-3{:alt => "Generic placeholder image", :src => "/images/#{project[:coverimage]}.png"}/
-#         .media-body
-#           %h5.mt-0.mb-1= project[:name]
-#           %p= project[:description]
-#
.container-fluid.bg-dark
  .row
    .col-md-6.height-full.left-col{style: "background-image: url(images/mario-cover-dark.png); background-attachment: fixed; background-position: right center"}
      .cols
        %h1 My other Project
        %br
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula sem sit amet risus pellentesque, at facilisis ipsum euismod. Aliquam interdum pharetra diam et imperdiet.
    .col-md-6.height-full.right
      .cols
        = partial 'partials/_come-at-me'
.container-fluid.middle
  = partial 'partials/_other-projects'

= partial 'partials/_footer'
